---
export const prerender = true;

import { HOME_PAGE_TITLE } from '../config/site';
import SiteLayout from '../layouts/SiteLayout.astro';
import Hero from '../components/Hero.astro';
import TourSection from '../components/TourSection.astro';
import WhyUs from '../components/WhyUs.astro';
import FAQ from '../components/FAQ.astro';
import { getImage } from 'astro:assets';
import { HERO_IMAGE } from '../data/hero-image';

const ogImage = await getImage({
	src: HERO_IMAGE.src,
	width: 1200,
	height: 630,
	fit: 'cover',
	format: 'jpg',
});
---

<SiteLayout title={HOME_PAGE_TITLE} booking ogImage={ogImage.src}>
	<main id="main">
		<Hero />
		<TourSection />
		<WhyUs />
		<FAQ />
	</main>
</SiteLayout>
