---
export const prerender = true;

import { HOME_PAGE_TITLE } from '../config/site';
import SiteLayout from '../layouts/SiteLayout.astro';
import Hero from '../components/Hero.astro';
import TourSection from '../components/TourSection.astro';
import WhyUs from '../components/WhyUs.astro';
import FAQ from '../components/FAQ.astro';
import { HERO_IMAGE_SRC, HERO_SRCSET_WIDTHS } from '../data/hero-image';
import { unsplashDefaultSrc, unsplashSrcSet } from '../lib/unsplash';

const heroLcpSrcset = unsplashSrcSet(HERO_IMAGE_SRC, HERO_SRCSET_WIDTHS);
const heroLcpHref = unsplashDefaultSrc(HERO_IMAGE_SRC, 1280);
---

<SiteLayout title={HOME_PAGE_TITLE} booking>
	<link
		slot="head"
		rel="preload"
		as="image"
		href={heroLcpHref}
		imagesrcset={heroLcpSrcset}
		imagesizes="100vw"
	/>
	<main id="main">
		<Hero />
		<TourSection />
		<WhyUs />
		<FAQ />
	</main>
</SiteLayout>
