---
import { SITE_EMAIL } from '../config/site';
---

<div class="trust-strip">
	<span><i class="ti ti-lock" aria-hidden="true"></i> Secure payment</span>
	<span>
		<i class="ti ti-headset" aria-hidden="true"></i> Need help?
		<a href={`mailto:${SITE_EMAIL}`}>{SITE_EMAIL}</a>
	</span>
	<span>Licensed maritime operator · Croatia</span>
</div>
